@model IEnumerable<Gandiva.Models.CommentViewModel>
@{ Layout = null; int i = 0;}
@foreach (var comment in Model)
{
    <fieldset>
        <legend>Комментарий @{++i;}</legend>
        <div class="row vertical-align">
            <div class="col-sm-2">
                <input hidden name="creator" value="@comment.Creator"/>
                <textarea class="form-control tasks-desc" rows="3">Author: </textarea>
            </div>
            <div class="col-sm-7">
                <textarea class="form-control tasks-desc" rows="3">@comment.Description</textarea>
            </div>
            <div class="col-sm-3"><button type="button" class="btn btn-default btn-block">Удалить</button></div>
        </div>
    </fieldset>
}