body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



.top-bar {
    position: relative;
    width: 80%;
    height: auto;
    margin: 0 40px;
}

.top-bar-element {
    position: absolute;
    /*width: 30px;
    height: 20px;*/
    top: 0;
    bottom: 0;
    margin: auto;
}

.top-bar-element-left {
    left: 0;
}

.top-bar-element-right {
    right: 0;
}

select {
    width: 200px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    height: 30px;
}

.tasks-table {
    width: 100%;
}
