@model Gandiva.Models.HomeModel
@{
    ViewBag.Title = "Home";
}
<script>
    window.test = function (id) {
        console.log(id);
    }
</script>
<div class="row">
    <div class="top-bar">
        <div class="top-bar-element top-bar-element-left">
            @Html.ActionLink("Создать новую задачу", "Index", "Home")
            <span>|</span>
            @Html.ActionLink("Пользователи", "About", "Home")
        </div>
        <div class="top-bar-element top-bar-element-right">
            @Html.DropDownListFor(
             m => m.ActiveUser,
             new SelectList(Model.Users, "Id", "VisibleName"),
             new { onchange="window.test(this.value)" }
          )

        </div>
    </div>
</div>